// Brand Colors //
$BlueBrand01: #238dc6;
$BlueBrand02: #3c69b2;
$BlueBrand03: #3C4FA2;
$BrandDark: #060606;
$BrandLight: #f5f5f5;

$darkmode: #55A6FF;

// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// A1. Colors
$primary: $BlueBrand02;
$secondary: $BlueBrand01;
$dark: $BrandDark;
$light: $BrandLight;

// A2. responsive fonts
$enable-responsive-font-sizes: true;

// A3. navbar
$navbar-padding-x: 1rem;
$navbar-light-color: $BrandDark;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
// $navbar-dark-color: $BrandLight;
// $navbar-dark-hover-color: $secondary;
// $navbar-dark-active-color: $secondary;
$navbar-nav-link-padding-x: .7rem;
$nav-link-font-weight: 500;

// A4. card
$card-border-radius: 0;
$card-columns-margin: 1.25rem;

// A5. Max Container Width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1600px
) !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

// 2. Website variables

// 2a. variables
$website-third: #3c4fa2;
$speed: all .15s ease-in-out;
$diagonal-bg: linear-gradient(135deg, $BlueBrand01, $BlueBrand02, $BlueBrand03);

// 2c. transition
@mixin standard-transition {
    -webkit-transition: $speed;
    -moz-transition: $speed;
    -ms-transition: $speed;
    -o-transition: $speed;
    transition: $speed;
}

// 3. Site Setting

// 3a. General
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Georama', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  color: $black;
  background-color: $light;
  @include standard-transition;
}

h1 {
    color: $primary;
}

// 3b. Buttons
.btn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#topBtn {
  position: fixed;
  bottom: 4.5rem;
  right: 0;
  z-index: 99;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  background-image: $diagonal-bg;
  background-color: $primary;
  color: $light;
  padding: 0.6rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  @include standard-transition;
  transform: translate(100px, 0);
  opacity: 0.7;
  &.show {
      transform: translate(0, 0);
  }
  &:hover {
    opacity: 1;
  }
  @media (max-width: 767.98px) {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      bottom: 6rem;
  }
}

// 3c. Images
.blog-image {
  display: block;
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;    
}

// 3d. Videos
.cover-video {
  width: 100%;
  height: auto;
  position: relative;
  overflow:hidden;
  margin: 20px auto;
  #myVideo {
      height: auto;
      position: relative;
      margin: auto;
      width: 100%;
  }
}
.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 2rem auto;
  .resp-iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
  }
}

// 3e. Page Transition
.pageTransition {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

// 3f. Icons
.fa {
    &:hover {
        text-decoration: none;
    }
}

// 4. Layouts, columns & grids

// 4a. Scroll Margin - Anchored Points
$content-sticky-top: 2rem;
[id] {
  @media (min-height: $content-sticky-top) {
    scroll-margin-top: $content-sticky-top;
  }
}

// 4b. Sections
$padding: 3rem;
section {
  padding-top: $padding;
  &:last-child {
      padding-bottom: $padding;
  }
  @media (max-width: 767.98px) {
      padding-top: $padding / 2;
      &:last-child {
          padding-bottom: $padding / 2; 
      }
  }
}

// 4c. Overwrite Bootstrap Columns and grids
[class*="col-"],.col { // apply margin-top and bottom in classes of col
  margin-top: .5rem;
  margin-bottom: .5rem;
}

// 6. Footer, credits and contacts

// 6a. Footer
footer {
    a.fa {
        margin: 0 1rem;
        color: $primary;
        @include standard-transition;
        &:hover {
            color: lighten($primary, 35%);
        }
    }
}

// 7. Progress Bar //
.progress-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: .25rem;
  background: $light;
  z-index: 1031;
  @media print {
      display: none;
  }
}

.progress-bar {
  height: .25rem;
  background: $secondary;
  width: 0%;
}

// 8. custom for navbar
.active-link {
  font-weight: 500!important;
  color: $primary!important;
}

// 9. full page
$bg-opacity: 0.8;
.fullPage {
    min-height: 100vh;
    position: relative;
    width: 100%;
    .full-cover-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        object-fit: cover;
        img {
            width: 100%;
            min-height: 100%;
        }
        video {
            /* Make video to at least 100% wide and tall */
            min-width: 100%; 
            min-height: 100%; 
            
            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto; 
        }
        img, video {
            /* Center the image / video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @media (max-width: 1280px) {
            /* Make video to at least 100% wide and tall */
            min-width: 100%; 
            height: 100%;
            object-fit: cover;
        
            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            }
        }
        // bottom text
        .homepage-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba($light, 1) 8%, rgba($light, $bg-opacity) 20%, rgba($light, $bg-opacity) 85%, rgba($light, 1) 100%);
            margin: auto;
            padding: 1rem 2rem;
            div {
                width: 1200px;
                min-width: 330px;
            }
            .home-links {
                display: flex;
                margin: auto;
            }
        }
    }
}

// 10. bootstrap card columns add for 2 column
.card-columns {
    column-count: 3!important;
    @media (max-width: 991.98px) {
        column-count: 2!important;
    }
    @media (max-width: 767.98px) {
        column-count: 1!important;
    }
}

// 11. Portoflio boxes and overlay
.box {
    align-items: center;
    justify-items: center;
}
.overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $light;
    padding: 2rem;
    @include standard-transition;
    background-color: rgba($dark, 0.9);
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

// 12. Modal 
.modalGallery {
    display: none;
    position: fixed;
    z-index: $zindex-modal;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba($dark, 0.95);
    .modalContent {
        position: relative;
        margin: auto;
        padding: 0;
        width: 100%;
        min-width: 300px;
        max-height: 100vh;
        overflow: hidden;
    }
    .close {
        color: $light;
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 40px;
        z-index: 2;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        &:hover {
            color: $secondary;
        }
    }
    .modalSlides {
        display: none;
    }
    .modalContentCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        img {
            max-height: 80vh;
            max-width: 100%;
        }
    }
    .prev,
    .next {
        position: absolute;
        top: 0;
        bottom: 0;
        .arrows {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 10vh 0;
            width: 4rem;
            cursor: pointer;
            color: $light;
            font-weight: bold;
            font-size: 1.2rem;
            transition: 0.6s ease;
            user-select: none;
            -webkit-user-select: none;
            text-decoration: none;
            &:hover {
                color: rgba($secondary, 0.8);
            }
        }
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
}

// 13. Filters
.filterDiv {
    display: none!important;
    &.show {
        display: inline-block!important;
    }
}

.direction-icon {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1.5rem;
    font-size: 4rem;  
    color: $primary;
    cursor: pointer;
}

// 14. Trail-n-Plan
$trailnplan: #4293d7, #8ac1f1, #ffffff, #ff9782, #e1d830, #6e7f10, #333333;

.project-blockquote{
    color: $secondary;
    font-size: 2rem;
    text-align: center;
    padding: 0.75rem 2.5rem;
}
  
.trailnplan {
    font-family: 'Source Sans Pro', sans-serif;
    &.card {
        border: 0 solid transparent;
        text-align: center;
    }
    .dot {
        height: 50px;
        width: 50px;
        background-color: $black;
        border-radius: 4rem;
        box-shadow: 0 2px 4px 0 rgba($black, 0.2), 0 4px 8px 0 rgba($black, 0.19);
        display: inline-block;
        @for $i from 1 to 7 {
            &:nth-of-type#{$i} {
                background-color: nth($trailnplan, $i);
            }
        }
    }
}

// dark mode trial
// .dark-mode {
//     color: $light;
//     background-color: $dark;
//     h1 {
//         color: $darkmode;
//     }
//     .homepage-overlay {
//         background-image: linear-gradient(to bottom, rgba($dark, 1) 8%, rgba($dark, $bg-opacity) 20%, rgba($dark, $bg-opacity) 85%, rgba($dark, 1) 100%)!important;
//     }
//     .active-link {
//         color: $secondary!important;
//     }
// }