---
layout: page
title: Design Portfolio
description: Check out my creative portfolio in photography, graphic design, website design and UI Design.
image: /images/portfolio-cover.png
permalink: /portfolio/
filtered: false
---
<div id="portfolio">
	<section>
		<div class="row">
			<div class="col">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col">
				<div class="card-columns">
					{% assign sorted = site._portfolio | sort:"date" | reverse %}
					{% for card in sorted %}		
						{% include portfolio-box.html %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>
<script src="{{ "/js/portfolio-grid.js" | relative_url }}"></script>