---
layout: page
title: Design Portfolio
description: Check out my creative portfolio in photography, graphic design, website design and UI Design.
image: /images/portfolio-cover.png
permalink: /projects/
filtered: true
---
<div id="portfolio">
	<section>
		<div class="row">
			<div class="col">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col" id="myBtnContainer">
				<a class="btn btn-sm btn-outline-primary active text-uppercase m-1" onclick="filterSelection('all')">Show all</a>
				{% assign cmap = site._portfolio | map: 'categories' | uniq %}
				{% assign cats = cmap | sort %}
				{% for cat in cats %}
				<a class="btn btn-sm btn-outline-primary text-uppercase m-1" onclick="filterSelection('{{ cat }}')">{{ cat }}</a>
				{% endfor %}
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col">
				<div class="card-columns">
					{% assign sorted = site._portfolio | sort:"date" | reverse %}
					{% for card in sorted %}		
						{% include portfolio-box.html %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>
<script src="{{ "/js/portfolio-grid.js" | relative_url }}"></script>