        <div class="columns animated fadeIn">
            {% if _gallery.link %}
            <a href="{{ _gallery.link }}">
            {% else %}
            <a href="{{ _gallery.url }}">
            {% endif %}
                <div class="imgContainer" oncontextmenu="return false;">
                    <img src="/images/album/{{_gallery.foldername}}/{{_gallery.image}}" alt="{{ _gallery.slug }}">
                    <div class="overlay">
                        <div class="text">
                            <h6>{{ _gallery.title }}</h6>
                            <p class="text-uppercase">{{ _gallery.date | date: "%Y"}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>