<div id="myModal" class="modalGallery">
	<span class="close fa fa-times" onclick="closeModal()"></span>
	<div class="modalContent">
		{% for image in page.images %}
		<div class="modalSlides">
			<div class="modalContentCenter">
				<div class="div">
					<img src="/images/{% if page.folder %}{{ page.folder }}/{% endif %}{{ image.image_path }}">
					{% if image.title %}<p class="text-center text-white my-4">{{ image.title }}</p>{% endif %}
				</div>
			</div>
		</div>
    {% endfor %}
	<div class="prev">
		<a class="arrows" onclick="plusSlides(-1)">
			<span class="fa fa-chevron-left" ></span>
		</a>
		
	</div>
	<div class="next">
		<a class="arrows" onclick="plusSlides(1)">
			<span class="fa fa-chevron-right"></span>
		</a>
	</div>
	</div>
</div>
<script src="{{ "/js/modal-overlay.js" | relative_url }}"></script>