<div id="myModal" class="modalGallery">
	<a class="close fa fa-times" onclick="closeModal()"></a>
	<div class="modalContent">
		{% for image in page.images %}
		<div class="mySlides">
			<div class="centerBox">
				<div class="centerImage">
					<img src="/images/{% if page.folder %}{{ page.folder }}/{% endif %}{{ image.image_path }}">
					{% if image.title %}<p class="modal-text">{{ image.title }}</p>{% endif %}
				</div>
			</div>

		</div>
    {% endfor %}
	<div class="prev">
		<a class="arrows" onclick="plusSlides(-1)">
			<span class="fa fa-chevron-left" ></span>
		</a>
		
	</div>
	<div class="next">
		<a class="arrows" onclick="plusSlides(1)">
			<span class="fa fa-chevron-right"></span>
		</a>
	</div>
	</div>
</div>
<script src="{{ "/js/modal-overlay.js" | relative_url }}"></script>