{% if card.not-show == true %}
{% else %}
<div class="{% if page.filtered == true %}filterDiv {{ card.categories }}{% endif %} card">
    <a href="{% if card.link %}{{ card.link }}{% else %}{{ card.url }}{% endif %}">
        <img src="/images/{% if card.folder %}{{ card.folder }}/{% endif %}{{ card.image }}" alt="{{ card.slug }}" class="card-img-top">
        <div class="box">
            <div class="overlay">
                <h5 class="text-uppercase">{{ card.title }}</h5>
            </div>
        </div>
    </a>
</div>
{% endif %}