// flex boxes
.boxes {
    .flexContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        @media (max-width: 1199.98px) {

        }
        @media (max-width: 991.98px) {

        }
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 575.98px) {	

        }
        // &.two-grids {
        //     grid-template-columns: 1fr 1fr;
        // }
    }
}
.box-wrap {
    width: 100%;
    position: relative; 
    aspect-ratio: 3 / 2;
}
.box-link {
    text-decoration: none;
}
.box {
    align-items: center;
    justify-items: center;
    background-color: $secondary;
    color: $white;
    box-shadow: 0 3px 5px rgba($dark,0.6);
    @include standard-transition;
    img {
        position: relative;
        display: block;
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
    &:hover {
        background-color: darken($secondary, 10%);
        .overlay {
            opacity: .9;
        }
    }
    .overlay {
        position: absolute;
        bottom: 0;
        opacity: 0;
        width: 100%;
        @include standard-transition;
        background-color: $secondary;
        color: $white;
        text-align: center;
        padding: .5rem;
    }
}
.with-radius {
    border-radius: .5rem;
    img {
        border-radius: .5rem;
    }
}

// Trail-n-Plan
.blockquote{
    color: $secondary;
    font-size: 2rem;
    text-align: center;
    padding: 0.75rem 2.5rem;
}
.trailnplan {
    font-family: 'Georama', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    &.card {
        border: 0 solid transparent;
        text-align: center;
    }
    .dot {
        height: 50px;
        width: 50px;
        background-color: $black;
        border-radius: 4rem;
        box-shadow: 0 2px 4px 0 rgba($black, 0.2), 0 4px 8px 0 rgba($black, 0.19);
        display: inline-block;
        &:nth-of-type(1) {
            background-color: #4293d7;
        }
        &:nth-of-type(2) {
            background-color: #8ac1f1;
        }
        &:nth-of-type(3) {
            background-color: #ffffff;
        }
        &:nth-of-type(4) {
            background-color: #ff9782;
        }
        &:nth-of-type(5) {
            background-color: #e1d830;
        }
        &:nth-of-type(6) {
            background-color: #6e7f10;
        }
        &:nth-of-type(7) {
            background-color: #333333;
        }
    }
}