// flex boxes
.box {
    align-items: center;
    justify-items: center;
    background-color: $secondary;
    color: $white;
    box-shadow: 0 3px 5px rgba($dark,0.6);
    @include standard-transition;
    img {
        position: relative;
        display: block;
        width: 100%;
    }
    &:hover {
        background-color: darken($secondary, 10%);
        .overlay {
            opacity: .85;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include standard-transition;
        background-color: $secondary;
        color: $white;
        text-align: center;
        padding: 2rem 1rem;
    }
}

// Trail-n-Plan
.blockquote{
    color: $secondary;
    font-size: 2rem;
    text-align: center;
    padding: 0.75rem 2.5rem;
}
.trailnplan {
    font-family: 'Georama', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    &.card {
        border: 0 solid transparent;
        text-align: center;
    }
    .dot {
        height: 50px;
        width: 50px;
        background-color: $black;
        border-radius: 4rem;
        box-shadow: 0 2px 4px 0 rgba($black, 0.2), 0 4px 8px 0 rgba($black, 0.19);
        display: inline-block;
        &:nth-of-type(1) {
            background-color: #4293d7;
        }
        &:nth-of-type(2) {
            background-color: #8ac1f1;
        }
        &:nth-of-type(3) {
            background-color: #ffffff;
        }
        &:nth-of-type(4) {
            background-color: #ff9782;
        }
        &:nth-of-type(5) {
            background-color: #e1d830;
        }
        &:nth-of-type(6) {
            background-color: #6e7f10;
        }
        &:nth-of-type(7) {
            background-color: #333333;
        }
    }
}