.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain!important;
    width: 95%;
    height: 35vw;
    min-height: 250px;
}
.carousel-caption {
    position: relative!important;
    right: (100% - $carousel-caption-width) / 2;
    bottom: 0;
    left: (100% - $carousel-caption-width) / 2;
    z-index: 0!important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: $carousel-caption-color;
    text-align: center;
    h5 {
        margin-bottom: 0;
    }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: $primary;
  width: 5vh;
  height: 5vh;
  border-radius: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

// page-gallery
.card-columns {
    column-gap:  1rem;
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
    .card {
        border-width: 0;
    }
}

// video
.cover-video {
    width: 100%;
    height: auto;
    position: relative;
    overflow:hidden;
    margin: 20px auto;
    #myVideo {
        height: auto;
        position: relative;
        margin: auto;
        width: 100%;
    }
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 2rem auto;
    .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}