// Written by Tsz Kin LIU (William)

// General
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Georama', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    color: $black;
}

// typography
h1 {
    padding-bottom: .25rem;
    text-transform: uppercase;
}
h2, h3 {
    &:after {
        content: "";
        display: block;
        margin: .25rem 0;
        border-radius: 4rem;
        position: relative;
    }
}
h2 {
    margin: 2rem 0;
    &:after {
        width: 6rem;
        height: 0.25rem;
        background: $secondary;
    }
}

// layouts, columns & grids
main {
    padding-top: 3.5rem;
    min-height: 90vh!important;
}

// scroll margin - anchored points
$content-sticky-top: 2rem;
[id] {
    @media (min-height: $content-sticky-top) {
      scroll-margin-top: $content-sticky-top;
    }
}

$padding: 3rem;
section {
    padding-top: $padding;
    &:last-child {
        padding-bottom: $padding;
        &.galleryHead {
            padding-bottom: 0rem;
        }
    }
    @media (max-width: 767.98px) {
        padding-top: $padding / 2;
        &:last-child {
            padding-bottom: $padding / 2; 
        }
    }
}
[class*="col-"] { // apply margin-top and bottom in classes of col
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
.profileImg {
    float: none;
    text-align: center;
    img {
        width: 20rem;
        border-radius: 1rem;
        margin: 1.5rem auto;
    }
}
.blog-image,
.blog-images-insert p img {
    display: block;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 1.25rem;    
}

// navbar
.topmenu {
    display: block!important;
    z-index: 0!important;
}

.navbar-brand img {
    height: 40px;
}
.nav-item a {
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}
.nav-link {
    @media (max-width: 991.98px) {
        text-align: center;
    }
}

// buttons
.btn {
    margin: 0.4rem 0.1rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.5rem;
}
#topBtn {
    position: fixed;
    bottom: 3rem;
    right: 0;
    z-index: 99;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-image: $diagonal-bg;
    background-color: $primary;
    color: $white;
    cursor: pointer;
    padding: 0.6rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    @include standard-transition;
    transform: translate(100px, 0);
    &.show {
        transform: translate(0, 0);
    }
    @media (max-width: 767.98px) {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        bottom: 6rem;
    }
}

// Portfolio Filter
#myBtnContainer {
    a {
        text-transform: uppercase!important;
    }
}
.filterDiv {
    display: none!important;
    &.show {
        display: block!important;
    }
}

// Animation
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

// social buttons
.fa {
    &:hover {
        text-decoration: none;
    }
}
.socialList {
    ul {
        list-style-type: none;
        margin-block-start: 0;
        padding-inline-start: 0;
        li {
            list-style: none;
            display: inline-block;
        }
    }
    h5 {
        margin: 10px 10px 10px 0;
    }
    .fa {
        color: $black;
        width: 40px;
        height: 40px;
        margin: 10px 5px 10px 5px; //keep it
        padding: 10px 0;
        font-size: 1.2rem;
        text-align: center;
        &.fa-twitter  {
            padding: 10px;
        }
        &.fa-linkedin {
            padding: 10px 11px;
        }
    }
}
.contact-socials {
    .fa {
        padding: 0.5rem 0.75rem 0.5rem 0;
    }
}

// footer
footer {
    padding: 1rem 0;
    p {
        margin-bottom: 0;
        color: $black;
    }
    a {
        color: $black;
    }
    .fa {
        margin: 5px 10px;
    }
}

// The progress container (grey background)
.progress-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: $white;
    z-index: 1031;
    @media print {
        display: none;
    }
  }
  .progress-bar {
    height: 10px;
    background: $secondary;
    width: 0%;
}

// 404
.notFoundPage {
    margin: 1.5rem auto;
    h1 {
        margin: 2rem 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
    }
    .logo-large {
        padding: 2rem 0;
        width: 20rem;
    }
}

// flex boxes
.box {
    align-items: center;
    justify-items: center;
    background-color: $secondary;
    color: $white;
    box-shadow: 0 3px 5px rgba($dark,0.6);
    @include standard-transition;
    img {
        position: relative;
        display: block;
        width: 100%;
    }
    &:hover {
        background-color: darken($secondary, 10%);
        .overlay {
            opacity: .85;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include standard-transition;
        background-color: $secondary;
        color: $white;
        text-align: center;
        padding: 2rem 1rem;
    }
}

// Trail-n-Plan
.blockquote{
    color: $secondary;
    font-size: 2rem;
    text-align: center;
    padding: 0.75rem 2.5rem;
}
.trailnplan {
    font-family: 'Georama', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    &.card {
        border: 0 solid transparent;
        text-align: center;
    }
    .dot {
        height: 50px;
        width: 50px;
        background-color: $black;
        border-radius: 4rem;
        box-shadow: 0 2px 4px 0 rgba($black, 0.2), 0 4px 8px 0 rgba($black, 0.19);
        display: inline-block;
        &:nth-of-type(1) {
            background-color: #4293d7;
        }
        &:nth-of-type(2) {
            background-color: #8ac1f1;
        }
        &:nth-of-type(3) {
            background-color: #ffffff;
        }
        &:nth-of-type(4) {
            background-color: #ff9782;
        }
        &:nth-of-type(5) {
            background-color: #e1d830;
        }
        &:nth-of-type(6) {
            background-color: #6e7f10;
        }
        &:nth-of-type(7) {
            background-color: #333333;
        }
    }
}

// Full page
#fullPage {
    height: 95vh;
    position: relative;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .full-img-container,
    .video-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      min-height: 100%; 
      overflow: hidden;
      object-fit: cover;
      img {
        width: 100%;
        min-height: 100%;
      }
      video {
        /* Make video to at least 100% wide and tall */
        min-width: 100%; 
        min-height: 100%; 
        
        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto; 
      }
      img, video {
        /* Center the image / video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @media (max-width: 1280px) {
          /* Make video to at least 100% wide and tall */
          min-width: 100%; 
          height: 100%; 
    
          /* Setting width & height to auto prevents the browser from stretching or squishing the video */
          width: auto;
        }
      }
      // bottom text
      $bg-opacity: 0.8;
      .gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(to bottom, rgba($white, $bg-opacity), rgba($white, $bg-opacity) 80%, rgba($white, 1) 100%);
        z-index: 1;
      }
      .overlay-content {
        color: $black;
        position: absolute;
        z-index: 2;
        top: 40%;
        transform: translate(0%, -50%);
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding: 1em 2em;
        text-align: center;
      }
      .option-box {
        position: absolute;
        bottom: 1rem;
        transform: translate(0%, -50%);
        text-align: center;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
      }
    }
  }

// page-gallery
.card-columns {
    column-gap:  1rem;
    column-count: 3;
    @media (max-width: 575.98px) {
        column-count: 1;
    }
    @media (max-width: 767.98px) {
        column-count: 2;
    }
    @media (max-width: 991.98px) {
        column-count: 3;
    }
    // @media (max-width: 1199.98px) {
    //     column-count: 3;
    // }
    &.two-column {
        column-count: 2;
        @media (max-width: 575.98px) {
            column-count: 1;
        }
    }
    .card {
        border-width: 0;
        box-shadow: 0 3px 5px rgba($dark,0.6);
        transition: .25s ease-in-out;
        background-color: $secondary;
    }
}

// video
.cover-video {
    width: 100%;
    height: auto;
    position: relative;
    overflow:hidden;
    margin: 20px auto;
    #myVideo {
        height: auto;
        position: relative;
        margin: auto;
        width: 100%;
    }
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 2rem auto;
    .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
    
.cursor {
    cursor: pointer;
    @include standard-transition;
    &:hover {
        opacity: 0.7;
    }
}
 
/* The Modal (background) */
.modalGallery {
    display: none;
    position: fixed;
    z-index: $zindex-modal;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba($dark, 0.95);
    .modalContent {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%;
        min-width: 300px;
        max-height: subtract(100vh, $modal-dialog-margin * 2); // IE10/11
        overflow: hidden;
    }
    .close {
        color: $white;
        position: absolute;
        top: 0;
        right: 2rem;
        font-size: 60px;
        &:hover, &:focus {
            color: $secondary;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .mySlides {
        display: none;
    }
    .centerBox {
        display: flex;
        align-items: center;
        justify-content: center;
        .centerImage {
            text-align: center;
            img {
                max-width: 100%;
                height: 80vh;
                width: auto;
                height: auto;
            }
            .modal-text {
                margin: .5rem;
                color: $white;
            }
        }
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: auto;
        padding: 38vh 16px;
        color: $white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 5rem;
        user-select: none;
        -webkit-user-select: none;
    }
    .next {
        right: 0;
    }
    .prev:hover,
    .next:hover {
        background-color: rgba($secondary, 0.8);
        text-decoration: none;
    }
}

// Blog //
.page-index{
    a {
        padding: 0 0.5rem;
    }
}
.blog-card {
    background-color: $white;
    height: 400px!important;
    h5,
    p {
        color: $black;
    }
}

.blog-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sideNav-archive {
    li {
        list-style-type: none;
    }
}