// Written by Tsz Kin LIU (William)

// General
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Georama', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    color: $black;
}
h1 {
    padding-bottom: .25rem;
    text-transform: uppercase;
}
h2, h3 {
    &:after {
        content: "";
        display: block;
        margin: .25rem 0;
        border-radius: 4rem;
        position: relative;
    }
}
h2 {
    margin: 2rem 0;
    &:after {
        width: 6rem;
        height: 0.25rem;
        background: $secondary;
    }
}
main {
    min-height: 80vh!important;
}

$padding: 3rem;
section {
    padding-top: $padding;
    &:last-child {
        padding-bottom: $padding;
        &.galleryHead {
            padding-bottom: 0rem;
        }
    }
    @media (max-width: 767.98px) {
        padding-top: $padding / 2;
        &:last-child {
            padding-bottom: $padding / 2; 
        }
    }
}

// navbar
.navbar-brand img {
    height: 40px;
}
.nav-item a {
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}
.navbar-dark {
    @include standard-transition;
}

// Buttons
.btn {
    margin: 0.4rem 0.1rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.5rem;
}
#topBtn {
    position: fixed;
    bottom: 3rem;
    right: 0;
    z-index: 99;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-image: $diagonal-bg;
    background-color: $primary;
    color: $white;
    cursor: pointer;
    padding: 0.6rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    @include standard-transition;
    transform: translate(100px, 0);
    &.show {
        transform: translate(0, 0);
    }
    @media (max-width: 767.98px) {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        bottom: 6rem;
    }
  }

// Portfolio Filter
#myBtnContainer {
    a {
        text-transform: uppercase!important;
    }
}
.filterDiv {
    display: none!important;
    &.show {
        display: block!important;
    }
}

// Columns & grids
[class*="col-"] { // apply margin-top and bottom in classes of col
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
.profileImg {
    float: none;
    text-align: center;
    img {
        width: 20rem;
        border-radius: 1rem;
        margin: 1.5rem auto;
    }
}
.blog-image,
.blog-images-insert p img {
    display: block;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 1.25rem;    
}

// Animation
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

// social buttons
.fa {
    &:hover {
        text-decoration: none;
    }
}
.socialList {
    ul {
        list-style-type: none;
        margin-block-start: 0;
        padding-inline-start: 0;
        li {
            list-style: none;
            display: inline-block;
        }
    }
    h5 {
        margin: 10px 10px 10px 0;
    }
    .fa {
        color: $black;
        width: 40px;
        height: 40px;
        margin: 10px 5px 10px 5px; //keep it
        padding: 10px 0;
        font-size: 1.2rem;
        text-align: center;
        &.fa-twitter  {
            padding: 10px;
        }
        &.fa-linkedin {
            padding: 10px 11px;
        }
    }
}
.contact-socials {
    .fa {
        padding: 0.5rem 0.75rem 0.5rem 0;
    }
}

// Footer
footer {
    padding: 1rem 0;
    p {
        margin-bottom: 0;
        color: $black;
    }
    a {
        color: $black;
    }
    .fa {
        margin: 5px 10px;
    }
}

// 404
.notFoundPage {
    margin: 1.5rem auto;
    h1 {
        margin: 2rem 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
    }
    .logo-large {
        padding: 2rem 0;
        width: 20rem;
    }
}

// Responsive layout
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    .nav-link {
        text-align: center;
    }
}
@media (max-width: 767.98px) {
    .navbar-dark {
        background-color: $primary;
    }
}
@media (max-width: 575.98px) {	

}