// brand colors
$BlueBrand01: #238dc6;
$BlueBrand02: #3c69b2;
$BlueBrand03: #3C4FA2;
$BrandDark: #404041;
$BrandLight: #bebebe;


// variables
$primary: $BlueBrand02;
$secondary: $BlueBrand03;
$dark: $BrandDark;
$light: $BrandLight;
$black: #141414;
$white: #FFFFFF;

//responsive fonts
$enable-responsive-font-sizes: true;

// navbar
$navbar-padding-x: 0;
$navbar-dark-color: $light;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-nav-link-padding-x: .7rem;

// jumbotron
$jumbotron-bg: none;

// responsive
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;

// website variables
$website-third: #3c4fa2;
$site-grey: #dbdbdb;
$site-dark-grey: #999999;
$speed: all .3s ease-in-out;

// Social Media
$facebook: #1877f2;
$instagram: #282828;
$twitter: #1da1f2;
$pinterest: #bd081c;
$reddit: #ff4500;
$linkedin: #007bb5;
$email: #606060;

// bg colours
$diagonal-bg: linear-gradient(135deg, $primary, $secondary, $website-third);

// specific
$trailnplan: #4293d7, #8ac1f1, #ffffff, #ff9782, #e1d830, #6e7f10, #333333;

// transition
@mixin standard-transition {
    -webkit-transition: $speed;
    -moz-transition: $speed;
    -ms-transition: $speed;
    -o-transition: $speed;
    transition: $speed;
}

@import 'bootstrap/bootstrap';
@import 'general';