// bootstrap card columns add for 2 column
.card-columns {
        column-count: 3!important;
    @media (max-width: 991.98px) {
        column-count: 2!important;
    }
    @media (max-width: 767.98px) {
        column-count: 1!important;
    }
}

// Boxes
.box {
    align-items: center;
    justify-items: center;
    background-color: $primary;
    color: $white;
    box-shadow: 0 3px 5px rgba($dark,0.6);
    @include standard-transition;
    img {
        position: relative;
        display: block;
        width: 100%;
    }
    &:hover {
        .overlay {
            opacity: .9;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include standard-transition;
        background-color: $primary;
        .centerBox {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $white;
            div {
            padding: 1rem;
            }
        }
    }
}

// Modal 
.modalGallery {
    display: none;
    position: fixed;
    z-index: $zindex-modal;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba($dark, 0.95);
    .modalContent {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%;
        min-width: 300px;
        max-height: subtract(100vh, $modal-dialog-margin * 2); // IE10/11
        overflow: hidden;
    }
    .close {
        color: $white;
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 40px;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        &:hover {
            color: $secondary;
        }
    }
    .mySlides {
        display: none;
    }
    .centerBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .centerImage {
            text-align: center;
            img {
                max-height: 80vh;
                // width: auto;
                max-width: 100%;
            }
            .modal-text {
                margin: .5rem;
                color: $white;
            }
        }
    }
    .prev,
    .next {
        position: absolute;
        top: 0;
        bottom: 0;
        .arrows {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 4rem;
            cursor: pointer;
            color: $white;
            font-weight: bold;
            font-size: 1.2rem;
            transition: 0.6s ease;
            user-select: none;
            -webkit-user-select: none;
            text-decoration: none;
            &:hover {
                color: rgba($secondary, 0.8);
            }
        }
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
}

// Place below modal when triggered
.belowModal {
    display: block!important;
    z-index: 0!important;
}

// Filters
.filterDiv {
    display: none!important;
    &.show {
        display: inline-block!important;
    }
}