{% assign galleries = site._gallery | map: 'categories' | join: ','  | split: ',' | uniq %}
{% assign photos = site._gallery | sort:"date" | reverse %}

{% for gallery in galleries %}
    {% if gallery == 'event' %}
        
        {% for _gallery in photos %}
            {% if _gallery.categories contains gallery %}
                {% include gallery-filter.html %}
            {% else %}
                {% include gallery-filter.html %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}	




{% assign galleries = site._gallery | map: 'categories' | join: ','  | split: ',' | uniq %}
{% assign photos = site._gallery | sort:"date" | reverse %}

{% for gallery in galleries %}
    {% if gallery == 'event' %}
        {% for _gallery in photos %}
            {% if _gallery.categories contains gallery %}
                {% include gallery-filter.html %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for _gallery in photos %}
            {% include gallery-filter.html %}
        {% endfor %}
    {% endif %}
{% endfor %}

<div class="col-md-7">
    <!-- form.123formbuilder.com script begins here -->
        <script type="text/javascript" defer src="https://form.123formbuilder.com/embed/5989299.js" data-role="form" data-default-width="650px"></script>
    <!-- form.123formbuilder.com script ends here -->
</div>


	<!-- <section class="boxes">
		<div class="flexContainer">
			{% assign sorted = site._portfolio | sort:"date" | reverse %}
			{% for _portfolio in sorted %}
			<div class="filterDiv {{ _portfolio.categories }} animated fadeIn shadow box-wrap">
				<a href="{% if _portfolio.link %}{{ _portfolio.link }}{% else %}{{ _portfolio.url }}{% endif %}"  class="box-link">
					<div class="box with-radius">
						<img src="/images/{% if _portfolio.folder %}{{ _portfolio.folder }}/{% endif %}{{ _portfolio.image }}" alt="{{ _portfolio.slug }}" class="cursor">
						<div class="overlay">
							<h6>{{ _portfolio.title }}</h6>
							<p class="text-uppercase">{{ _portfolio.categories | uniq | join: ", " }}</p>
						</div>					
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section> -->