---
layout: page
title: Photography Portfolio
description: Check out my photography portfolio features what I captures.
permalink: /photography/
filtered: false
---
<section>
	<div class="row">
		<div class="col-md text-center">
			<h1>{{ page.title }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md text-center" id="myBtnContainer">
			{% assign cmap = site._gallery | map: 'categories' | uniq %}
			{% assign cats = cmap | sort %}
			{% for cat in cats %}
			<a class="btn btn-sm btn-outline-primary text-uppercase" onclick="location.href='#{{ cat }}'">{{ cat }}</a>
			{% endfor %}
		</div>
	</div>
</section>
{% assign cmap = site._gallery | map: 'categories' | uniq %}
{% assign cats = cmap | sort %}
{% for cat in cats %}
<section id="{{ cat }}">
	<div class="row">
		<div class="col-md">
			<h2>{{ cat | upcase }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="card-columns">
			{% assign galleries = site._gallery | sort:"date" | reverse %}				
			{% for card in galleries %}
			{% if card.categories contains cat %}
				{% include portfolio-box.html %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endfor %}
<script src="{{ "/js/portfolio-grid.js" | relative_url }}"></script>