---
layout: page
title: Blog
description: Check out my latest blog
---
<section>
	<div class="row">
		<div class="col-md-8">
			<h1>William's Blog</h1>
			<p>A record of my experiences, thoughts and options around what I do and see in my daily life. </p>
		</div>
	</div>
</section>
<section>
	<div class="row">
		{% for post in paginator.posts %}
		<div class="col-sm-6 col-lg-4 mb-4">
			<div class="card {{ post.categories }} border-primary pageTransition">
				<img src="/images/blog/{{ post.image | prepend: site.baseurl }}" alt="Image for {{ post.title }}" class="card-img-top">
				<div class="card-body">
					<strong class="d-inline-block mb-2 text-primary text-capitalize">{{ post.categories }}</strong>    
					<h5>{{ post.title | escape }}</h5>
					<p>{{ post.date | date: "%A, %d %B %Y" }}</p>
					<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read This One</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
<section>
	<div class="row">
		<div class="col-md text-center page-index">
			{% if paginator.total_pages > 1 %}
				{% if paginator.previous_page %}
					<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
				{% endif %}
					{% for page in (1..paginator.total_pages) %}
						{% if page == paginator.page %}
							<em>{{ page }}</em>
						{% elsif page == 1 %}
							<a href="{{ '/' | relative_url }}">{{ page }}</a>
						{% else %}
							<a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
						{% endif %}
					{% endfor %}
				{% if paginator.next_page %}
					<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</section>