---
layout: page
title: Blog
description: Check out my latest blog
---
<section>
	<div class="row">
		<div class="col-md-8">
			<h1>William's Blog</h1>
			<p>A record of my experiences, thoughts and options around what I do and see in my daily life. </p>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col">
			<div class="card-columns">
				{% for post in paginator.posts %}
				<div class="card {{ post.categories }}">
					<img src="/images/blog/{{ post.image | prepend: site.baseurl }}" alt="Image for {{ post.title }}" class="card-img-top">
					<div class="card-body">
						<strong class="d-inline-block mb-2 text-primary text-capitalize">{{ post.categories }}</strong>    
						<h5>{{ post.title | escape }}</h5>
						<p>{{ post.date | date: "%A, %d %B %Y" }}</p>
						<a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Read This One</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
<section>
	<div class="row">
		<div class="col">
			<ul class="pagination">
				{% if paginator.total_pages > 1 %}
					{% if paginator.previous_page %}
						<li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a></li>
					{% endif %}
					{% for page in (1..paginator.total_pages) %}
						{% if page == paginator.page %}
							<li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
						{% elsif page == 1 %}
							<li class="page-item"><a class="page-link" href="{{ '/' | relative_url }}">{{ page }}</a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
						{% endif %}
					{% endfor %}
					{% if paginator.next_page %}
						<li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a></li>
					{% endif %}
				{% endif %}
			</ul>
		</div>
	</div>
</section>