---
layout: default
title: Photography Portfolio
description: Photography portfolio features what William captures.
permalink: /photography/
---
<div class="container-xl">
	<section>
		<div class="row">
			<div class="col-md text-center">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</section>
	<section>
		<!--Event Photography-->
			<div class="row">
				<div class="col-md-12">
					<h3>Event Photography</h3>
				</div>
				<div class="columnFlex">
					{% assign galleries = site._gallery | map: 'categories' | join: ','  | split: ',' | uniq %}
					{% assign photos = site._gallery | sort:"date" | reverse %}					
					{% for _gallery in photos %}
						{% if _gallery.categories contains 'event' %}
							{% include gallery-filter.html %}
						{% endif %}
					{% endfor %}										
				</div>				
			</div>
		<!--Fine Arts Photography-->
		<div class="row">
			<div class="col-md-12">
				<h3>Fine Arts Photography</h3>
			</div>
			<div class="columnFlex">
				{% assign galleries = site._gallery | map: 'categories' | join: ','  | split: ',' | uniq %}
				{% assign photos = site._gallery | sort:"date" | reverse %}				
				{% for _gallery in photos %}
					{% if _gallery.categories contains 'fine arts' %}
						{% include gallery-filter.html %}
					{% endif %}
				{% endfor %}											
			</div>				
		</div>
		<!--Filtered Content-->
		<div class="row">
			<div class="col-md-12">
				<h3>General Works</h3>
			</div>
			<div class="columnFlex">
				{% assign galleries = site._gallery | map: 'categories' | join: ','  | split: ',' | uniq %}
				{% assign photos = site._gallery | sort:"date" | reverse %}				
				{% for _gallery in photos %}
					{% if _gallery.categories contains 'event' or _gallery.categories contains 'fine arts' %}
					{% else %}
						{% include gallery-filter.html %}
					{% endif %}
				{% endfor %}											
			</div>				
		</div>
	</section>
	<section class="text-center">
		<h4>Coming Soon / Working In Progress</h4>
		{% for upcoming in site.data.upcoming-photos %}
		<li>{{ upcoming.title }}</li>
		{% endfor %}
	</section>
</div>