---
layout: default
title: Design and Motion Portfolio
description: Design and Motion Portfolio includes various works including animation, graphic design, website designs, videography and etc.
permalink: /portfolio/
---
<div class="container-fluid">
	<section>
		<div class="row">
			<div class="col-md text-center">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<!--Type Filter-->
		<div class="row">
			<!--Display unless mobile screen size-->
			<div class="col-md text-center">
				<div id="myBtnContainer">
					<a class="btn btn-sm btn-outline-primary active" onclick="filterSelection('all')">Show all</a>
					{% assign cmap = site._portfolio | map: 'categories' | uniq %}
					{% assign cats = cmap | sort %}
					{% for cat in cats %}
					<a class="btn btn-sm btn-outline-primary" onclick="filterSelection('{{ cat }}')">{{ cat }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section class="boxes">
		<div class="flexContainer">
			{% assign sorted = site._portfolio | sort:"date" | reverse %}
			{% for _portfolio in sorted %}
			<div class="filterDiv {{ _portfolio.categories }} animated fadeIn shadow box-wrap">
				<a href="{% if _portfolio.link %}{{ _portfolio.link }}{% else %}{{ _portfolio.url }}{% endif %}"  class="box-link">
					<div class="box">
						<img src="/images/{% if _portfolio.folder %}{{ _portfolio.folder }}/{% endif %}{{ _portfolio.image }}" alt="{{ _portfolio.slug }}">
						<div class="overlay">
							<h6>{{ _portfolio.title }}</h6>
							<p class="text-uppercase">{{ _portfolio.categories | uniq | join: ", " }}</p>
						</div>					
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>
</div>
<script src="{{ "/js/portfolio-grid.js" | relative_url }}"></script>