---
layout: default
title: Design Portfolio
description: Design and Motion Portfolio includes various works including animation, graphic design, website designs, videography and etc.
permalink: /portfolio/
---
<div class="container-xl">
	<section>
		<div class="row">
			<div class="col-md text-center">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<!--Type Filter-->
		<div class="row">
			<!--Display unless mobile screen size-->
			<div class="col-md text-center">
				<div id="myBtnContainer">
					<a class="btn btn-sm btn-outline-primary active" onclick="filterSelection('all')">Show all</a>
					{% assign cmap = site._portfolio | map: 'categories' | uniq %}
					{% assign cats = cmap | sort %}
					{% for cat in cats %}
					<a class="btn btn-sm btn-outline-primary" onclick="filterSelection('{{ cat }}')">{{ cat }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-md">
				<div class="card-columns">
					{% assign sorted = site._portfolio | sort:"date" | reverse %}
					{% for _portfolio in sorted %}
						<div class="filterDiv {{ _portfolio.categories }} card animated fadeIn shadow" oncontextmenu="return false;">
							<a href="{% if _portfolio.link %}{{ _portfolio.link }}{% else %}{{ _portfolio.url }}{% endif %}"  class="box-link">
								<div>
									<img src="/images/{% if _portfolio.folder %}{{ _portfolio.folder }}/{% endif %}{{ _portfolio.image }}" alt="{{ _portfolio.slug }}" class="card-img-top cursor">
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</div>
<script src="{{ "/js/portfolio-grid.js" | relative_url }}"></script>