---
layout: default
title: UI UX Web Portfolio
description: William's UI UX Web Portfolio
permalink: /ui-ux-web/
---
<div class="container-xl">
	<section>
		<div class="row">
			<div class="col-md text-center">
				<h1>{{ page.title }}</h1>
                <p>I have created this dedicated portfolio for all my User Interface (UI), User Expereince (UX) and Website Design.</p>
			</div>
		</div>
    </section>
    <section>
		<!--Filtered Content-->
		<div class="row">
			<div class="column-flex">
				{% assign portfolios = site._portfolio | map: 'categories' | join: ','  | split: ',' | uniq %}
				{% for portfolio in portfolios %}
                {% if portfolio == 'ui ux web' %}
                {% assign ui = site._portfolio | sort:"date" | reverse %}
                {% for _portfolio in ui %}
                {% if _portfolio.categories contains portfolio %}
				<div class="filterDiv show animated fadeIn shadow">
					<a href="{% if _portfolio.link %}{{ _portfolio.link }}{% else %}{{ _portfolio.url }}{% endif %}">				
						<div class="imgcontainer" oncontextmenu="return false;">
							<img src="/images/{% if _portfolio.folder %}{{ _portfolio.folder }}/{% endif %}{{ _portfolio.image }}" alt="{{ _portfolio.slug }}">
							<div class="overlay">
								<div class="text">
									<h6>{{ _portfolio.title }}</h6>
									<!-- <br>
									<p class="text-uppercase">{{ _portfolio.categories | uniq | join: ", " }}</p> -->
								</div>
							</div>
						</div>
					</a>
				</div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}											
			</div>				
		</div>
	</section>
    <section>
		<div class="row">
			<div class="col-md text-center">
				<p class="h2">Other Examples</p>
                <p>"Keep practicing"</p>
			</div>
		</div>
    </section>
    <section>
        <div class="row row-cols-1 row-cols-md-2">
            {% for image in site.data.ui-ux-daily %}
            <div class="col mb-4">
              <div class="card">
                <img src="\{{ image.link }}" alt="Image {{ forloop.index }}" class="card-img-top">
              </div>
            </div>
            {% endfor %}
          </div>
    </section>
</div>