---
layout: page
---
<div class="row">
	<div class="col-md profileImg">
		<img src="{{ page.image }}" alt="Profile Image">
	</div>
	<div class="col-md">
		{{ content }}
        <div class="contact-socials">
            <h5>Contact Me</h5>
            <p><i class="fa fa-lg fa-envelope-o"></i>liutk.william (@) gmail.com</p>
            <h5>Follow</h5>
            {% if site.facebook %}<p><i class="fa fa-lg fa-facebook"></i><a href="https://www.facebook.com/{{ site.facebook }}/">William - Tsz Kin LIU</a></p>{% endif %}
            {% if site.instagram %}<p><i class="fa fa-lg fa-instagram"></i><a href="https://www.instagram.com/{{ site.instagram }}/">@liutk.william</a></p>{% endif %}
            {% if site.linkedin %}<p><i class="fa fa-lg fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ site.linkedin }}/">Tsz Kin (William) Liu</a></p>{% endif %}
        </div>
	</div>
</div>