---
layout: default
---
<!--main content-->
<div class="container-xl">
  <section>
    <div class="row">
      <div class="col-md-7 d-flex">
        <div class="align-self-center">
          {% if page.categories %}
          <p class="lead text-uppercase text-muted">{{ page.categories | uniq | join: ", " }}</p>
          {% endif %}
          <h1 class="text-primary">{{ page.title }}</h2>
          {% if page.date %}
          <p>{{ page.date | date: "%Y"}}</p>
          {% endif %}
          {% if page.organisation %}
            <h5>Completed for</h5>
            <p>{{ page.organisation }}</p>
          {% endif %}
          {% if page.deliverables %}
            <h5>Deliverables</h5>
            <p>{{ page.deliverables }}</p>
          {% endif %}
        </div>
      </div>
      {% if page.image %}
      <div class="col-md-5 d-flex">
        <div class="align-self-center">
          <img src="/images/{% if page.folder %}{{ page.folder }}/{% endif %}{{ page.image }}" alt="Image of {{ page.slug }}" class="img-fluid">
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md">
        <p>{{ page.content }}</p>
      </div>
    </div>
  </section>
  {% if page.images %}
  <section>
		<div class="card-columns two-column">
      {% assign images = page.images | sort:"date" | reverse %}	
      {% for image in images %}
			<div class="card animated fadeIn shadow">
				<img 
          src="/images/{% if page.folder %}{{ page.folder }}/{% endif %}{{ image.image_path }}" 
          alt="Image of {{ images.title }}"
          onclick="openModal();currentSlide({{ forloop.index }})"
          class="card-img-top cursor"
        >
        {% if image.title %}
        <div class="card-body text-center text-white">
          <h6>{{ image.title }} {% if image.date %}({{ image.date | date: "%Y"}}){% endif %}</h6>
        </div>
        {% endif %}					
      </div>
			{% endfor %}
		</div>
	</section>
  {% endif %}
</div>

{% if page.images %}
<div id="myModal" class="modalGallery">
	<span class="close" onclick="closeModal()">&times;</span>
	<div class="modalContent">
    {% assign images = page.images | sort:"date" | reverse %}	
		{% for image in images %}
		<div class="mySlides">
			<div class="centerBox">
				<div class="centerImage">
					<img src="/images/{% if page.folder %}{{ page.folder }}/{% endif %}{{ image.image_path }}">
				</div>
			</div>
		</div>
	  	{% endfor %}
	  
	  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	  <a class="next" onclick="plusSlides(1)">&#10095;</a>

	</div>
</div>
<script src="{{ "/js/modal-overlay.js" | relative_url }}"></script>
{% endif %}