---
layout: page
---
<section>
  <div class="row">
    <div class="col-md-7 d-flex align-self-center">
      <div>
        {% if page.categories %}
          <p class="lead text-uppercase text-muted">{{ page.categories | uniq | join: ", " }}</p>
        {% endif %}
        <h1 class="text-primary">{{ page.title }}</h2>
        {% if page.date %}
          <p>{{ page.date | date: "%Y"}}</p>
        {% endif %}
        {% if page.organisation %}
          <h5>Completed for</h5>
          <p>{{ page.organisation }}</p>
        {% endif %}
        {% if page.deliverables %}
          <h5>Deliverables</h5>
          <p>{{ page.deliverables }}</p>
        {% endif %}
      </div>
    </div>
    {% if page.image %}
    <div class="col-md-5">
      <img src="/images/{% if page.folder %}{{ page.folder }}/{% endif %}{{ page.image }}" alt="Image of {{ page.slug }}" class="img-fluid rounded float-right">
    </div>
    {% endif %}
  </div>
</section>
<section>
  <div class="row">
    <div class="col-md">
      <p>{{ content }}</p>
    </div>
  </div>
</section>

{% if page.images %}
  {% include portfolio-image.html %}
{% endif %}

{% if page.images %}
  {% include portfolio-modal.html %}
{% endif %}
